@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100%;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  overflow-y: hidden;
}

::-webkit-scrollbar {
  background-color: #000000;
  width: 15px;
}

::-webkit-scrollbar-thumb {
  background-color: #c2c2c2;
  border-radius: 10px;
}

.container {
  width: 100vw;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin: 15px 0px 40px 0px;
  background-color: linear-gradient(90deg, rgb(217, 217, 217) 0%, rgb(255, 255, 255) 58%);
}

.header {
  background: #ffffff;
  box-shadow: inset 10px 10px 20px #ffffff, inset -10px -10px 20px #fafafa;
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  padding: 10px;
  position: fixed;
  top: 0;
  z-index: 10;
}
.header .nav-bar a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.header .nav-bar a ion-icon {
  font-size: 20px;
}

.profile {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 300px;
  background-color: linear-gradient(90deg, rgb(217, 217, 217) 0%, rgb(255, 255, 255) 58%);
}
.profile img {
  max-width: 200px;
  max-height: 200px;
  width: auto;
  height: auto;
}

.container-img {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 20px;
  max-width: 1000px;
  background-color: linear-gradient(90deg, rgb(217, 217, 217) 0%, rgb(255, 255, 255) 58%);
}
.container-img .box-img {
  border-radius: 15px;
  background: #e0e0e0;
  box-shadow: 10px 10px 20px #d0d0d0, -10px -10px 20px #f0f0f0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 5px;
  position: relative;
}
.container-img .box-img:hover .middle {
  opacity: 1;
}
.container-img .box-img:hover img {
  opacity: 0.5;
}
.container-img .box-img .abbr {
  background: #ffffff;
  box-shadow: 2px 2px 10px #d0d0d0, -5px -5px 10px #f0f0f0;
  border-radius: 10px;
  border-end-end-radius: 0px;
  position: absolute;
  padding: 10px;
  opacity: 0;
  font-weight: bold;
  font-size: 13px;
  width: 150px;
  height: 50px;
  top: 0;
  left: -25%;
  transform: translate(-40%, -70%);
  transition: 0.5s ease;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-img .box-img .abbr ion-icon {
  font-size: 25px;
}
.container-img .box-img:hover .abbr {
  animation: abbr-move 0.5s forwards;
}
.container-img .box-img .media {
  border-radius: 10px;
  max-width: 350px;
  max-height: 350px;
  width: auto;
  height: auto;
  transition: 0.5s ease;
}
.container-img .box-img span {
  border-radius: 5px;
}
.container-img .middle {
  color: rgb(255, 255, 255);
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.container-img .middle span {
  background-color: #000000;
  padding: 10px;
}

.footer {
  width: 100vw;
  height: 40px;
  background: #ffffff;
  box-shadow: inset 10px 10px 20px #ffffff, inset 10px 10px 20px #fafafa;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer .footer-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  list-style-type: none;
  color: rgb(56, 56, 56);
}
.footer .footer-links li {
  font-size: 13px;
}
.footer .footer-links li a {
  text-decoration: none;
  color: cornflowerblue;
}
.footer .footer-links li button {
  border: none;
  outline: none;
  color: cornflowerblue;
  cursor: pointer;
}

#container-main-form {
  background-color: rgba(255, 255, 255, 0.9843137255);
  border-radius: 10px;
  box-shadow: 1px 1px 10px black;
  width: 400px;
  height: 550px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  gap: 5px;
  font-family: "Ubuntu", sans-serif;
  display: none;
}
#container-main-form .btn-close-form {
  border: none;
  outline: none;
  background-color: transparent;
  transition: all 0.5s ease-in-out;
}
#container-main-form .btn-close-form:hover {
  cursor: pointer;
  transform: scale(1.5);
}
#container-main-form .btn-close-form ion-icon {
  font-size: 25px;
}
#container-main-form .container-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  animation: form-show 1s ease;
}
#container-main-form .container-form .form-area {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
#container-main-form .container-form .form-area input {
  border: 1px solid rgba(0, 0, 0, 0.753);
  padding: 10px;
  outline: none;
  border-radius: 10px;
  margin: 10px 0px;
}
#container-main-form .container-form .form-area textarea, #container-main-form .container-form .form-area input {
  border: none;
  border-radius: 10px;
  background-color: rgba(177, 177, 177, 0.384);
  padding: 10px;
  outline: none;
  transition: all 0.4 ease-in-out;
}
#container-main-form .container-form .form-area input::placeholder, #container-main-form .container-form .form-area textarea::placeholder {
  color: rgb(0, 0, 0);
}
#container-main-form .container-form .form-area input:focus, #container-main-form .container-form .form-area textarea:focus {
  background-color: rgba(86, 241, 72, 0.404);
}
#container-main-form .container-form button {
  width: 120px;
  height: 40px;
  margin: 0 auto;
  background-color: rgb(86, 241, 72);
  border: none;
  outline: none;
  border-radius: 10px;
  color: rgb(0, 0, 0);
  font-size: 18px;
  cursor: pointer;
  transform: scale(0.8);
  transition: all 0.5s ease-in-out;
}
#container-main-form .container-form button:hover {
  transform: scale(0.9);
  opacity: 0.8;
}

#container-main-form.active {
  display: flex;
  animation: form-show 1s ease;
}

#loading {
  top: 0;
  right: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7137254902);
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
#loading span {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: #d0d0d0;
  transform: translateY(0px);
  animation: loading 8s ease 0.1s;
}
#loading span:nth-child(2) {
  animation: loading 8s ease 0.4s;
}
#loading span:nth-child(3) {
  animation: loading 8s ease 0.6s;
}

@keyframes loading {
  0% {
    transform: translateY(0px);
    transform: scale(1);
  }
  50% {
    transform: translateY(-30px);
    transform: scale(0.5);
  }
  100% {
    transform: translateY(0px);
    transform: scale(1);
  }
}
@keyframes form-show {
  0% {
    transform: translateX(50px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes abbr-move {
  to {
    opacity: 1;
  }
}
@media (max-width: 900px) {
  .container-img .box-img .abbr {
    background: #e0e0e0;
    box-shadow: 2px 2px 10px #d0d0d0, -5px -5px 10px #f0f0f0;
    border-radius: 10px;
    position: absolute;
    padding: 10px;
    opacity: 0;
    top: 0;
    left: 50%;
    transform: translate(-50%, -70%);
    transition: 0.5s ease;
    z-index: 10;
  }
}
@media (max-width: 600px) {
  #container-main-form {
    width: 350px;
    right: 30px;
  }
}

/*# sourceMappingURL=style.css.map */
