@media (max-width: 900px) {
    .container-img .box-img .abbr {
        background: #e0e0e0;
        box-shadow: 2px 2px 10px #d0d0d0, -5px -5px 10px #f0f0f0;
        border-radius: 10px;
        position: absolute;
        padding: 10px;
        opacity: 0;
        top: 0;
        left: 50%;
        transform: translate(-50%, -70%);
        transition: 0.5s ease;
        z-index: 10;
    }      
}

@media (max-width: 600px) {
    #container-main-form {
        width: 350px;
        right: 20px;
    }
}